---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";

import heroImage from "@/assets/hero-image-1.jpg";
import avatar from "@/assets/avatar-image-business-card.png";
---

<MainLayout
  title="devChallenges | Business Blog Card"
  description="A devChallenges.io coding challenge."
>
  <article
    class="bg-theme-pure-white mx-auto mt-38 w-[400px] overflow-hidden rounded-xl sm:mt-51 sm:w-[418px]"
    role="article"
  >
    <div class="relative">
      <Image
        src={heroImage}
        alt="A professional business meeting in progress"
        loading="eager"
        format="webp"
        width={418}
        height={280}
        class="h-[280px] max-w-full rounded-t-xl object-cover"
      />
      <img
        src="/white-overlay.svg"
        alt=""
        class="absolute bottom-0 left-0 w-full translate-y-[1px]"
        aria-hidden="true"
        role="presentation"
      />
    </div>

    <div class="flex flex-col gap-2">
      <div class="px-8 pb-4">
        <h1
          class="text-theme-black font-poppins mb-3 text-2xl leading-9 font-medium tracking-tighter"
        >
          Perfect solution for small business
        </h1>
        <p class="text-theme-dark-gray font-lato">
          Small businesses need to generate leads to grow. You can use tools like Ringy.
        </p>
      </div>
      <hr class="text-theme-light-gray w-full" aria-hidden="true" />
      <div
        class="flex items-center gap-x-3 px-8 py-6"
        role="complementary"
        aria-label="Author information"
      >
        <Image
          src={avatar}
          alt="Amy Burgess's profile picture"
          loading="eager"
          format="webp"
          width={35}
          height={35}
          class="ring-theme-light-gray rounded-full object-cover ring-3 ring-offset-1"
        />
        <div class="flex flex-col gap-y-1 sm:mb-1">
          <h2 class="text-theme-black font-lato leading-none font-bold sm:text-[1.063rem]">
            Amy Burgess
          </h2>
          <p class="text-theme-dark-gray/90 font-lato text-sm leading-none font-bold">
            Customer Manager, Solution Oy
          </p>
        </div>
      </div>
    </div>
  </article>
</MainLayout>
